body {
    padding: 50px
}
#container {
    width: 550px;
    margin: 0 auto;
}

.bar {
    position: relative;
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
}
.bar.active {
    border-color: #888;
}

.barValue {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10px;
}

.progress {
    background: #AFD7E6;
    position: absolute;
    height: 100%;
}

.limit {
    background: #f00;
}

.controls-btns {
    /*display: inline-block;*/
}